<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
    <ion-title>
      Finder
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="viewChatRooms()">
          <ion-icon name="ios-chatbubbles-outline"></ion-icon>
        </button>
        <button ion-button icon-only (click)="onLoadNewPlace()">
          <ion-icon name="ios-settings-outline"></ion-icon>
        </button>
        <!-- <button ion-button icon-only (click)="beginChat()">
          <ion-icon name="ios-chatboxes-outline"></ion-icon>
        </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
      <div id='map'></div>
        <!-- <agm-map [latitude]="location.lat" [longitude]="location.lng" [zoom]="13">
            <agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
            <agm-marker *ngFor="let rest of restaurants | async"
            [latitude]="rest.latitude" [longitude]="rest.longitude"></agm-marker>
          </agm-map> -->
    </ion-item>

    <p padding-left>Registered Nearby Resturants</p>
    <ion-list>
      <ion-item *ngFor="let rest of regNearByRestaurants"
      detail-push navPush="ViewPlacePage" [navParams]="{rest:rest}"> 
        <p><strong>{{rest.restaurantName}} - {{rest.displayDistance}}km</strong></p>
        <p>{{rest.address}}</p>
      </ion-item>
    </ion-list>
    <p padding-left>Other Nearby Resturants</p>
    <ion-grid>
      <ion-row *ngFor="let rest of nearbyRestaurants" detail-push navPush="PlaceInfoPage" [navParams]="{rest:rest}">
        <ion-col col-1 >
            <p><strong>{{rest.index}}</strong></p>
        </ion-col>
        <ion-col col-11>
            <p><strong>{{rest.name}}</strong></p>
            <small>{{rest.formatted_address}}</small>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content> 

