page-home {
    // agm-map{
    //     height: 300px;
    // }
    .scroll {
        height: 100%
    }

    #map {
        width: 100%;
        height: 300px;
    }
    // .rest-list{
    //     height:200px;
    //     overflow-y: scroll;
    // }
}
